body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none !important;
  color: initial;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Exo 2';
  background: #f1f2f6;
  overflow: hidden;
  overflow-y: auto;
}
.container .title {
  font-size: 32px;
  font-weight: 100;
  color: #54a;
  text-align: center;
  margin-top: 20px;
}
.container .platform {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-grow: 1;
  width: 1080px;
  padding: 15px;
}
.container .platform .platform-item {
  flex: 1;
  margin: 10px;
}
.container .platform .platform-item .label {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 20px;
  text-align: center;
}
.container .platform .platform-item .sample {
  text-align: center;
  margin: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #ddd;
  overflow: hidden;
}
.container .platform .platform-item .sample .thumbnail {
  width: 100%;
  height: 240px;
  background-color: #333;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.container .platform .platform-item .sample .detail .name {
  font-size: 16px;
  font-weight: 500;
  color: #54a;
  background: #fff;
  padding: 15px;
}
.container .platform .platform-item .sample .buttons {
  display: flex;
  flex-direction: row;
}
.container .platform .platform-item .sample .button {
  flex: 1;
  text-align: center;
  font-size: 15px;
  color: #fff;
  padding: 10px 0;
  background: #54a;
}
.container .platform .platform-item .sample .button:hover {
  cursor: pointer;
  background: #65b;
}
.container .platform .platform-item .sample .button .fas,
.container .platform .platform-item .sample .button .fab {
  margin-right: 3px;
}