# Rename this file to .env and input correct values to use
# Your App Id
APP_ID=xxx
# This is a trick to make scripts work in deployment
# before: `/assets/main.js` after `./assets/main.js`
PUBLIC_URL=./
