// Color
$color-transparent: transparent !default;

$color-black-border: #2C2D30 !default;
$color-black: #000000 !default;
$color-black-text: #555555 !default;
$color-black-text-light: #abb8c4 !default;

$color-gray-admin: #e8ecef !default;
$color-gray-dark: #dedede !default;
$color-gray: #e3e3e3 !default;
$color-gray-light: #F8F8F8 !default;

$color-white: #ffffff !default;

$color-blue-dark: #328fe6 !default;
$color-blue: #32c5e6 !default;


$color-purple-darker: #463c66 !default;
$color-purple-dark: #4E4273 !default;
$color-purple: #6e5baa !default;
$color-purple-light: #6742d6 !default;

$color-purple-deep: #673AB7 !default;

$color-purple-text-dark: #7F6DA0 !default;
$color-purple-text: #c7b0ff !default;
$color-purple-text-light: #A08DCE !default;

$color-green-online: #00C853 !default;

$color-red: #DC5960 !default;

$color-chat-border: #e0e2e5 !default;
$color-chat-select: #f8f9fa !default;

// Font
$font-family-exo2: 'Exo 2';
