@import 'common';

body {
  background-color: $color-purple;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 900px;
  min-height: 650px;
  font-family: $font-family-exo2;

  & > .top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    color: $color-white;
    & > .logo {
      display: flex;
      align-items: center;
      & > .logo-image {
        display: flex;
        align-items: center;
      }
    }
    & > .title {
      display: flex;
      align-items: center;
      & > .title-company {
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 600;
        margin: 0 10px;
      }
      & > .title-desc {
        display: flex;
        align-items: center;
        font-size: 26px;
        font-weight: 200;
      }
    }
  }

  & > .login {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > .desc {
      display: flex;
      color: $color-purple-text;
      flex-direction: column;
      align-items: center;
      text-align: center;
      & > .download {
        display: flex;
        text-align: center;
        margin: 20px 0;
        & > .download-sample {
          color: $color-purple-text;
          cursor: pointer;
          @include hover {
            cursor: pointer;
          }
        }
      }
    }
    & > .form {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      & > .form-input {
        display: flex;
        margin-top: 10px;
        border: 2px solid $color-white;
        padding: 0 10px 0 40px;
        width: 300px;
        height: 50px;
        font-size: 16px;
        color: $color-black-text;
        @include border-radius(2px);
        @include icon($ic-input-user, 20px 20px, 10px center);
        @include hover-focus {
          border: 2px solid $color-blue;
        }
      }
      & > .button {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 100%;
        height: 48px;
        background-color: $color-blue;
        color: $color-white;
        font-size: 16px;
        font-weight: 700;
        border: 0;
        @include border-radius(2px);
        cursor: pointer;
        @include hover {
          cursor: pointer;
        }
      }
    }
  }

  & > .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: $color-white;
  }
}
