@import 'mixins';
@import 'variables';

.modal-message {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  width: 100%;
  border: 1px solid $color-red;
  background-color: $color-white;
  font-size: 18px;
  margin: 10px 0;
  @include border-radius(4px);
}
